h1 {
    text-align:center;
}

body {
    background: url("images/background.jpg");
    font-family: 'Ubuntu', sans-serif;
}

.about {
    font-weight: bold;
    color:black;
}

.items {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 0px;

}

.hidden {
    display:none;
}

.item {
    // background-color: red;
    width: fit-content;
    gap: 0px;
    // border-radius: 10px;
    background-color: greenyellow;
}

.item a {
    display: block;
    text-align: center;
    color: black;
}

.item img {
    width:auto;
    height: 200px;
    border-radius: 10px;
}
