body {
    background-image: url("images/interface/background.jpg");
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    width: auto;
    height: 200px;
}

h1 {
    text-align: center;
}

.about {
    font-weight: bold;
    color:black;
    text-align: center;
    margin: 5px;
}

.items {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: 25px;
}

.item {
    width: fit-content;
    gap: 0px;
    border-radius: 5px;
    background-color: greenyellow;
}

.item a {
    display: block;
    text-align: center;
    color: black;
}

.item img {
    width:auto;
    height: 200px;
    border-radius: 5px;
}

.reklama {
    width: auto;
    height: 200px;
}

.button {
    text-align: center;
}