html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
    background-image: url("/background.jpg");
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    width: auto;
    height: 200px;
}

h1 {
    text-align: center;
}



